.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
.no-margin-or-padding {
  margin: 0px;
  padding: 0px;
}
html {
  color: #fff;
  font-size: 15px;
  background: #253039;
  min-width: 550px;
  font-family: 'Covered By Your Grace', sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
.rating-container {
  margin: 20px;
}
.star {
  color: #fff;
  padding: 5px;
  display: inline-block;
}
.star.active {
  color: yellow;
}
.star.active.focus {
  outline: none;
}
